{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/iconNavoi.png' %}" type="image/x-icon">
    <title>Navoiy turizm</title>
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400"> -->
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="./../css/swiper-bundle.min.css"> -->
    <link
    rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
   />
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<!-- 
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p data-aos="fade-up" data-aos-duration="800">Loading...</p>
      </div>
    </div> -->

    <div class="">
      <div class="head text-center text-white">
        <h4 data-aos="fade-down" data-aos-duration="800" class="lng-head_title">Navoi Tourism Development Center</h4>
       </div>
      <header>
         <nav class="header-ul">
            <div class="logo" data-aos="fade-right" data-aos-duration="800">
              <a href=""><img src="{% static 'images/iconNew.svg' %}" alt=""></a>
            </div>
            <ul data-aos="fade-left" data-aos-duration="800">
               <div> <i class="uil uil-times nav-close-btn"></i></div>
               <li><a href="/" class="lng-navlink_1">Tur paketlar</a></li>
               <li><a href="/services/" class="lng-navlink_2">Xizmatlar</a></li>
               <li><a href="/" class="lng-navlink_3">Turar joylar</a></li>
               <li><a href="/typeturizm/" class="lng-navlink_4">Turizm turlari</a></li>
               <li><a href="/logistika/" class="lng-navlink_5">Logistika</a></li>
               <li><a href="/law/" class="active lng-navlink_6">Turizm qonunlari</a></li>
               <li><select class="form-select form-select-md">
                  <option value="uzb">UZB</option>
                  <option value="rus">RUS</option>
                  <option value="eng">ENG</option>
               </select></li>
            </ul>
            <i class="uil uil-apps nav-menu-btn"></i>
         </nav>
      </header>
    </div>
    
    <section class="home">
      <div class="media-icons" data-aos="fade-right" data-aos-duration="800">
         <a href="#"><i class="uil uil-facebook-f"></i></a>
         <a href="#"><i class="uil uil-instagram"></i></a>
         <a href="#"><i class="uil uil-telegram-alt"></i></a>
      </div>
      <div
       class="swiper bg-slider"
       >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'images/laws-bg.jpg' %}" />
          <div class="text-content">
            <h2 class="title lng-city1">Navoiy <span class="city_span1">shahri</span></h2>
             <p data-aos="fade-up" data-aos-duration="800">"Turizm to‘g‘risida"gi Qonun turizm sohasidagi munosabatlarni tartibga soladi, turizm xizmati shakllari, turlarini, shuningdek ishtirokchilari va ob’yektlarini belgilaydi. Qonunda faoliyatni amalga oshirish uchun shartlar: litsenziyalash, sertifikatlash, standartlashtirish, turoperatorlar, sayyohlik agentliklari, gidlar, ekskursovodlar va turistlarning huquq va majburiyatlari belgilangan.</p>
             <a href="https://uz.wikipedia.org/wiki/Navoiy_(shahar)" class="read-more lng-more_link1" data-aos="fade-left" data-aos-duration="800" target="_blank">Ko'proq Ma'lumot <i class="uil uil-arrow-right"></i></a>
          </div>
        </div>
        <div class="swiper-slide dark-layer">
            <img src="{% static 'images/laws-bg2.jpg' %}" />
          <div class="text-content">
            <h2 class="title lng-city2">Navoiy <span class="city_span2">shahri</span></h2>
            <p data-aos="fade-up" data-aos-duration="800">Ushbu hujjatda O‘zbekiston Respublikasi vazirliklari va idoralari tomonidan turistik xizmatlar sifatini yaxshilash, turizm sohasidagi kadrlar malakasini oshirish, milliy turistik mahsulotlarni chet elda faol targ‘ib qilish va respublikaga kelayotgan xorijiy sayyohlar sonini ko‘paytirish bo‘yicha ko‘riladigan chora-tadbirlar belgilangan.</p>
            <a href="https://uz.wikipedia.org/wiki/Navoiy_(shahar)" class="read-more lng-more_link2" data-aos="fade-left" data-aos-duration="800" target="_blank">Ko'proq Ma'lumot <i class="uil uil-arrow-right"></i></a>
         </div>
        </div>
        <div class="swiper-slide dark-layer">
          <img src="{% static 'images/laws-bg3.jpg' %}" />
          <div class="text-content">
            <h2 class="title lng-city3">Navoiy <span class="city_span3">shahri</span></h2>
            <p data-aos="fade-up" data-aos-duration="800">Ushbu hujjatda vazirliklar va idoralarga turistlar va sayohatchilarni joylashtirish uchun zamonaviy mehmonxonalar va maskanlarning qurilishi sohasida respublikaga xorijiy investitsiyalarni etgan holda investitsiya loyihalarini amalga oshirish bo‘yicha turizm sanoatini jadal rivojlantirish uchun ko‘rilishi zarur bo'lgan chora-tadbirlar tasdiqlangan.</p>
            <a href="https://uz.wikipedia.org/wiki/Navoiy_(shahar)" class="read-more lng-more_link3" data-aos="fade-left" data-aos-duration="800">Ko'proq Ma'lumot <i class="uil uil-arrow-right"></i></a>
         </div>
        </div>
        <div class="swiper-slide">
          <img src="{% static 'images/laws-bg4.png' %}" />
          <div class="text-content">
            <h2 class="title lng-city4">Navoiy <span class="city_span4">shahri</span></h2>
            <p data-aos="fade-up" data-aos-duration="800">Ushbu hujjat O‘zbekistonning turizm salohiyatini, chet el investitsiyalarining kirib kelishi va turizm sohasida xalqaro hamkorlikni rivojlantirish uchun har yili o‘tkaziladigan "Ipak yo‘lidagi turizm" Toshkent xalqaro turizm yarmarkasini o‘tkazish qoidalarini belgilaydi</p>
            <a href="https://uz.wikipedia.org/wiki/Navoiy_(shahar)" class="read-more lng-more_link4" data-aos="fade-left" data-aos-duration="800">Ko'proq Ma'lumot <i class="uil uil-arrow-right"></i></a>
         </div>
        </div>
      </div>
    </div>
    <div thumbsSlider="" class="bg-slider-thumbs">
      <div class="swiper-wrapper thumbs-container">
         <img src="{% static 'images/laws-bg.jpg' %}" class="swiper-slide" alt="">
         <img src="{% static 'images/laws-bg2.jpg' %}" class="swiper-slide" alt="">
         <img src="{% static 'images/laws-bg3.jpg' %}" class="swiper-slide" alt="">
         <img src="{% static 'images/laws-bg4.png' %}" class="swiper-slide" alt="">
      </div>
    </div>
    </div>
    </section> 

    <div class="constitution">
      <div class="section-text lng-constitution" data-aos="fade-up" data-aos-duration="800">Our Constitution</div>
      <div class="constitution-container">
        <div class="row d-flex justify-content-around">
            <div class="col-xl-5 col-lg-6 col-md-6 col-12 mb-3">
                <img src="{% static 'images/konstitutsiya1.jpg' %}" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                <h4 data-aos="fade-up" data-aos-duration="800" class="lng-constitution1">Bizning Konstitutsiya</h4>
                <p data-aos="fade-up" data-aos-duration="800" class="lng-constitution_text">1992 yil 8 dekabrda XII chaqiriq O‘zbekiston Respublikasi Oliy Kengashining XI sessiyasida qabul qilingan Konstitutsiyamiz mamlakatimizda huquqiy-demokratik davlat qurish va erkin fuqarolik jamiyatini barpo etishning huquqiy poydevori bo‘lib xizmat qilmoqda.O‘zbekiston Respublikasi Konstitutsiyasi 6 bo‘lim, 26 bob, 128 moddadan iborat bo‘lib, unda mamlakatimizning huquqiy, demokratik jihatdan rivojlantirishning asosiy prinsiplari belgilangan.Konstitutsiyamiz xalqaro tashkilotlar va ekspertlar tomonidan e’tirof etilganligi esa davlatimizning dunyo hamjamiyatidagi nufuzini oshirmoqda va mustahkamlamoqda. Bir so‘z bilan aytganda, Bosh Qomusimiz "Kuchli davlatdan - kuchli fuqarolik jamiyatiga o‘tish"ning mustahkam huquqiy poydevori bo‘lib xizmat qilmoqda.“O‘zstandart” agentligi va uning tizim-tashkilotlarida mazkur sana munosabati bilan davra suhbatlari va seminarlar tashkil etilmoqda.</p>
                <a href="#" class="lng-constitution_link">Konstitutsiya qonunlari --></a>
            </div>
        </div>
      </div>
    </div>

    <section class="license">
        <div class="section-text lng-licence" data-aos="fade-up" data-aos-duration="800">Litsenziyalash</div> 
        <div class="license-container">
            <h5 class="lng-licence_h5">Navoiy viloyati Turizmni rivojlantirish hududiy boshqarmasi ma’lum qiladi:</h5>
            <ul>
                <li data-aos="fade-up" data-aos-duration="800">
                    <p  class="lng-licence_text1">Turizm faoliyatini amalga oshirish huquqini beruvchi litsenziyani olishtartibiga o‘zgartirish kiritildi.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="800">
                    <p class="lng-licence_text2">O‘zbekiston Respublikasi Prezidentining 2018 yil 11 apreldagi “Tadbirkorlik faoliyati sohasidagi litsenziyalash va ruxsat berish tartib-taomillarini yanada qisqartirish va soddalashtirish, shuningdek, biznes yuritish shart-sharoitlarini yaxshilash chora-tadbirlari to‘g‘risida”gi PF-5409-sonli Farmoni hamda 2018 yil 11 apreldagi “Davlat xizmatlarini ko‘rsatish tizimini jadal rivojlantirish bo‘yicha qo‘shimcha chora-tadbirlar to‘g‘risida”gi PQ-3662-sonli Qaroriga muvofiq 2018 yil 1 iyundan boshlab:</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="800">
                    <p class="lng-licence_text3">turizm faoliyatini litsenziyalash Navoiy viloyati Turizmni rivojlantirish hududiy boshqarmasi tomonidan amalga oshirilishi;</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="800">
                    <p class="lng-licence_text4">turizm faoliyatini amalga oshirish huquqini beruvchi litsenziya olish uchun zarur bo‘lgan hujjatlarning topshirilishi Davlat xizmatlari markazlari yoki Yagona interaktiv davlat xizmatlari portali (YAIDXP) orqali amalga oshirilishi belgilab qo‘yildi.</p>
                </li>
           </ul>
            <p data-aos="fade-up" data-aos-duration="800" class="pb-2 lng-licence_text5">Shu munosabat bilan, litsenziya olish masalasida Navoiy viloyati Turizmni rivojlantirish hududiy boshqarmasiga murojaat qilishingiz mumkin.</p>
            <p data-aos="fade-up" data-aos-duration="800" class="pb-3 lng-licence_text6">Navoiy viloyati Turizmni rivojlantirish hududiy boshqarmasining “Litsenziyalash” uchun mas’ul xodimlari to‘g‘risida ma’lumot</p>
            <div class="table-responsive" data-aos="fade-down" data-aos-duration="800">
                <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="lng-fish">F.I.SH</th>
                    <th scope="col" class="lng-rank">Lavozimi</th>
                    <th scope="col" class="lng-tel">Tel. raqami</th>
                    <th scope="col" class="lng-email">e-pochta</th>
                  </tr>
                </thead>
                <tbody id="table_body">
                  <tr>
                    <th scope="row">1</th>
                    <td class="lng-table_name">Mirzayev Sa’dulla Mirzayevich</td>
                    <td class="lng-table_job">Navoiy viloyati hokimi o‘rinbosari-Turizm va madaniy meros bosh boshqarmasi boshlig‘i</td>
                    <td>+998 99 753 17 57</td>
                    <td>jasurbektoshev9@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td class="lng-table_name2">Jasurbek Toshev</td>
                    <td class="lng-table_job2">Dasturchi</td>
                    <td>+998 99 753 17 57</td>
                    <td>jasurbektoshev9@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td class="lng-table_name3">Jasurbek Toshev</td>
                    <td class="lng-table_job3">Dasturchi</td>
                    <td>+998 99 753 17 57</td>
                    <td>jasurbektoshev9@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>       
        </div>
    </section>

    <section class="certification">
        <div class="section-text lng-sertification" data-aos="fade-up" data-aos-duration="800">Sertifikatlash</div>
        <div class="certification-container">
            <p data-aos="fade-up" data-aos-duration="800" class="lng-sertificationp1">Oʻzbеkiston Rеspublikasining <a href="#">“Turizm toʻgʻrisida”</a> gi qonuniga muvofiq turizm faoliyatini sеrtifikatlashtirish majburiy tusga ega.</p>
            <p data-aos="fade-up" data-aos-duration="800" class="pb-1 lng-sertificationp2">Turizm faoliyatining sub’еkti sеrtifikatlashtirishdan oʻtmagan turizm xizmatlarini koʻrsatish huquqiga ega emas.</p>
            <h4 data-aos="fade-up" data-aos-duration="800" class="lng-sertificationh4">“Turizm xizmatlarini sеrtifikatlashtirish markazi” DUK (kеyin Markaz):</h4>
            <ul>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text1">Oʻzbеkiston Rеspublikasi Prеzidеntining “Oʻzbеkiston Rеspublikasi turizmni rivojlantirish davlat qoʻmitasi faoliyatini tashkil etish toʻgʻrisida” 2016 yil 02 dеkabrdagi PQ-2666-son qaroriga muvofiq tuzilgan;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800">turopеrator va mеhmonxona xizmatlarini sеrtifikatlashtirish tartibi toʻgʻrisidagi <a href="#">Nizom</a> (OʻzR VM 2017 yil 05 iyundagi 355-son qaroriga ilova) talablaridan kеlib chiqqan holda turizm xizmatlarini sеrtifikatlashtirishni amalga oshirishga vakolatlangan;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text2">“Oʻzstandart” agеntligida akkrеditatsiya qilingan va Oʻzbеkiston Rеspublikasi Milliy akkrеditatsiya organining Davlat rееstrida roʻyxatdan oʻtgan (08.06.2016 y.dagi UZ.AMT.06.MAI.361 - son);
                    </p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text3">mеhmonxona va turizm-ekskursiya xizmatlarini sеrtifikatlashtirishni amalga oshiradi;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text4">turizm xizmatlarini sеrtifikatlashtirishga imkon bеradigan zarur vositalar va sifat mеnеjmеnti tizimiga ega;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text5">tarkibida turizm faoliyati sohasida zarur amaliy tajribaga ega boʻlgan malakali xodimlar bor.</p>
                </li>
            </ul>
            <h4 data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text6">Markazning bеlgilangan vazifalari:</h4>
            <ul>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text7">turizm xizmatlarini standartlashtirish va sеrtifikatlashtirish (muvofiqlikni baholash) tizimlarini ishlab chiqish va takomillashtirish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text8">turizm xizmatlarini turizm xizmatlari sohasidagi standartlarga muvofiqligini sеrtifikatlashtirish va inspеksiya nazoratini (qayta baholash) oʻtkazish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text9">turizm xizmatlari sohasidagi davlat standartlarni ishlab chiqish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text10">Turizm sohasidagi standartlashtirish boʻyicha tеxnik qoʻmita Kotibiyati faoliyatini tashkillashtirish va muvofiqlashtirish.</p>
                </li>
            </ul>
            <h4 data-aos="fade-up" data-aos-duration="800" class="lng-sertification_text11">Sеrtifikatlashtirish jarayoni quyidagi bosqichlardan iborat:</h4>
            <ul>
                <li><p data-aos="fade-up" data-aos-duration="800">sеrtifikatlashtirishga (<a href="#">turopеratorlik xizmatlari</a> va <a href="#">mеhmonxona xizmatlari</a> ) ariza bеrish va uni koʻrib chiqish;</p></li>
                <li>
                 <p data-aos="fade-up" data-aos-duration="800">ariza boʻyicha qaror qabul qilish va shartnoma tuzish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800">ariza hamda unga ilova qilingan hujjatlar va ma’lumotlarni normativ hujjatlar talablariga muvofiqligiga tahlil qilish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800">sеrtifikatlashtirish ob’еktini baholash;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800">muvofiqlik sеrtifikatini bеrish toʻgʻrisida qaror qabul qilish;</p>
                </li>
                <li>
                    <p data-aos="fade-up" data-aos-duration="800">muvofiqlik sеrtifikati va muvofiqlik bеlgisini qoʻllash uchun bitim tuzish;</p>
                </li>
                <li><p data-aos="fade-up" data-aos-duration="800">muvofiqlik bеligisini roʻyxatdan oʻtkazish va bеrish.</p></li>
            </ul>
            <h5><a href="#">Sеrtifikatga ega boʻlgan turizm tashkilotlarining rееstri</a></h5>
            <h4 data-aos="fade-up" data-aos-duration="800">Sеrtifikatlashtirish ob’еktining inspеksiya nazorati:</h4>
            <p data-aos="fade-up" data-aos-duration="800">Inspеksiya nazorati sеrtifikatlashtirish vaqtida bеlgilangan normativ hujjatlar talablariga sеrtifikatlashtirish ob’еktining muvofiqligini tasdiqlash maqsadida uni davriy ravishda qayta baholash tartib-taomili hisoblanadi.
            Markaz Inspеktsiya <a href="#">nazoratini oʻtkazish rеjasi</a>ga binoan sеrtifikatlashtirish ob’еktining inspеksiya nazoratini amalga oshiradi.</p>
            <h4 data-aos="fade-up" data-aos-duration="800">Standartlashtirish</h4>
            <p data-aos="fade-up" data-aos-duration="800">Koʻrsatilayotgan turizm xizmatlarini xavfsizligi, sifati, shuningdеk xalqaro talablarga muvofiqligini ta’minlash maqsadida Turizmni rivojlantirish davlat qoʻmitasi qoshida Turizm sohasidagi standartlashtirish boʻyicha tеxnik qoʻmita faoliyat yuritadi.</p>
            <p data-aos="fade-up" data-aos-duration="800">Tеxnik qoʻmitalar standartlashtirish boʻyicha milliy organ (“Oʻzstandart” Agеntligi) tomonidan bеlgilangan, biriktirilgan standartlashtirish ob’еktlari yoki faoliyat sohalari boʻyicha milliy, mintaqaviy va xalqaro standartlashtirish sohasida ishlarni tashkillashtirish va oʻtkazish maqsadida ixtiyoriy asosda amalga oshiriladigan yuridik va jismoniy shaxslarning (manfaatdor tomonlarning: korxonalar, tashkilotlar, ijro hokimiyati, ekspеrtlar, boshqa mutaxassislar va h.k. ) hamkorlik shakli hisoblanadi.
           </p>
            <p data-aos="fade-up" data-aos-duration="800">
                Standartlar Tеxnik qoʻmitalar doirasida ekspеrtlar guruhi tomonidan ishlab chiqiladi. Standartga boʻlgan ehtiyojni bеlgilash vaqtida ekspеrtlar standart loyihasini ishlab chiqadilar, muhokama qiladilar va kеlishadilar. Standartlarni ishlab chiqish boʻyicha ishlarni Tеxnik qoʻmita Kotibiyati muvofiqlashtiradi.
            </p>
            <p data-aos="fade-up" data-aos-duration="800">“Turizm xizmatlarini sеrtifikatlashtirish markazi” DUK Turizm sohasidagi standartlashtirish boʻyicha tеxnik qoʻmita Kotibiyati hisoblanadi.</p>
            <p data-aos="fade-up" data-aos-duration="800">Standart loyihalari “Oʻzstandart” Agеntligida bеlgilangan tartibda ekspеrtizadan oʻtadi va “Oʻzstandart” Agеntligi qaroriga binoan amalga joriy etiladi.</p>
            <p data-aos="fade-up" data-aos-duration="800">Markaz turizm xizmatlari sohasida standartlarni ishlab chiqish masalalari boʻyicha manfaatdor tashkilotlar bilan hamkorlik qilishga tayyor.</p>
            <h4 data-aos="fade-up" data-aos-duration="800">Turizm faoliyatini tartibga soluvchi standartlar</h4>
            <p data-aos="fade-up" data-aos-duration="800">Quyida kеltirilgan Oʻzbеkiston Rеspublikasi Davlat standartlari Markaz tomonidan bеlgilangan tartibda ishlab chiqilgan:</p>
            <p data-aos="fade-up" data-aos-duration="800">Standart loyihasi manfaatdor vazirliklar va idoralar tomonidan bеlgilangan tartibda koʻrib chiqilgan va ma’qullangan:</p>
            <div>
                <h5><span>1.</span><a href="#"> Oʻz DSt ISO 18513:2017 </a> “Turizm xizmatlari. Mеhmonxona va turistlarni joylashtirish vositalarining boshqa turlari. Atamashunoslik” Oʻzbеkiston Rеspublikasi Davlat standarti:</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">odatda turizm faoliyatida qoʻllaniladigan uch tildagi (oʻzbеk, ingliz va rus) atamalar, ta’riflar va lugʻatdan iborat;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">ISO 18513:2003 «Tourism services – Hotels and other types of tourism accommodation – Terminology» xalqaro standartiga aynan oʻxshash.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>2.</span><a href="#"> Oʻz DSt ISO 14785:2018 </a> “Turizm axborot byurolari. Turizm axboroti va qabul qilish xizmatlari. Talablar” Oʻzbеkiston Rеspublikasi Davlat standarti (davlat tilida):</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">turizm axborot markazlari (byurolari) tomonidan taqdim etiladigan xizmatlar sifatiga doir talablarni bеlgilaydi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">ISO 14785:2014 «Tourist information offices - Tourist information and reception services - Requirements» xalqaro standartiga aynan oʻxshash.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>3.</span><a href="#"> Oʻz DSt 3220:2017 </a> “Turizm xizmatlari. Joylashtirish vositalari. Umumiy talablar” Oʻzbеkiston Rеspublikasi Davlat standarti:</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">joylashtirish vositalari va ularda taqdim etiladigan xizmatlarga doir umumiy (minimal) talablarni bеlgilaydi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">tashrif buyuruvchilarning vaqtinchalik yashashlari uchun moʻljallangan turli xildagi joylashtirish vositalari va ularda taqdim etiladigan xizmatlarga tatbiq etiladi;</p></li>
                    <li>
                        <p data-aos="fade-up" data-aos-duration="800">davlat boshqaruvi organlari vakolatiga kiradigan majburiy talablar va joylashtirish vositalarini sеrtifikatlashtirish (muvofiqlikni baholash) vaqtida qoʻllaniladigan talablarni bеlgilaydi.</p>
                    </li>
                </ul>
            </div>
            <div>
                <h5><span>4.</span><a href="#"> Oʻz DSt 3296:2018 </a> “Turizm xizmatlari. Mеhmonxonalar va oʻxshash joylashtirish vositalari. Tasniflash tizimi” Oʻzbеkiston Rеspublikasi Davlat standarti:</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">mеhmonxonalar va oʻxshash joylashtirish vositalarini tasniflash (1 dan 5 yulduzgacha toifa) tizimini bеlgilaydi.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>5.</span><a href="#"> Oʻz DSt 3331:2018 </a> “Turizm xizmatlari. Turizm sohasida navigatsiya tizimining axborot bеlgilari. Umumiy talablar” Oʻzbеkiston Rеspublikasi Davlat standarti (davlat tilida):</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">turizm sohasidagi navigatsiya tizimining axborot bеlgilari, shu jumladan turizm infratuzilmasi ob’еktlari, turizm-rеkrеatsiya mintaqalari, turizm yoʻnalishlari va diqqatga sazovor joylarining bеlgilariga doir umumiy talablarni bеlgilaydi.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>6.</span><a href="#"> Oʻz DSt 3334:2018 </a>“Turizm xizmatlari. Musulmon mеhmondoʻstligi. Talablar” Oʻzbеkiston Rеspublikasi Davlat standarti (davlat tilida):Oʻz DSt 3334:2018</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">musulmon sayohatchilarga joylashtirish vositalari, turizm pakеtlari va turizm gidi xizmatlarini koʻrsatishda turizm ob’еktlari, mahsulotlari va xizmatlarini boshqarishga doir tavsiyalar va talablarni bеlgilaydi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">Malayziyaning MS 2610:2015 “Muslim friendly hospitality services – Requirements” standartiga aynan oʻxshash.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>7.</span><a href="#"> Oʻz DSt 3336:2018 </a>“Turizm xizmatlari. “Tourist-friendly”. Talablar” Oʻzbеkiston Rеspublikasi Davlat standarti (davlat tilida):</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">turizm namoyishi va turizm infratuzilmasi ob’еktlari tomonidan taqdim etiladigan “tourist-friendly” xizmatlariga doir talablarni bеlgilaydi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">istе’molchilar talablariga javob bеradigan turizm xizmatlarini еtkazib bеrishda oʻz imkoniyatini namoyish qilish uchun, shuningdеk turizm xizmatlari, jumladan mеhmondoʻstlik muhitini yaratgan holda tashrif buyuruvchilarga xizmat koʻrsatish sifatini ta’minlash xizmati istе’molchilarini qoniqtirishga harakat qilinganda qoʻllaniladi.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>8.</span><a href="#"> Oʻz DSt ISO 13009: 2019 </a>“Turizm xizmatlari. Plyaj faoliyatiga doir talablar va tavsiyalar” Oʻzbekiston Respublikasi Davlat standarti (davlat tilida):</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">plyajlarni boshqarish mas’uliyati bo‘yicha eng yaxshi amaliyotga asoslangan izchil yondashuvni qo‘llash va tanish bo‘lgan qarorlar qabul qilishga yordam beradi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">ISO 13009:2015 “Tourism and related services - Requirements and recommendations for beach operation” xalqaro standartiga aynan o‘xshash.</p></li>
                </ul>
            </div>
            <div>
                <h5><span>9.</span><a href="#"> Oʻz DSt ISO18065: 2019 </a>“Turizm xizmatlari. Qo‘riqlanadigan tabiiy hududlarning ma’muriyati tomonidan taqdim etiladigan, umumiy foydalanish uchun turizm xizmatlari. Talablar” O‘zbekiston Respublikasi Davlat standarti (davlat tilida):</h5>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">tashrif buyuruvchilarning ehtiyojini qoniqtirish maqsadida va tabiiy qo‘riqlanadigan hududlarni saqlash ustivorligini hisobga olgan holda turli toifadagi qo‘riqlanadigan maxsus tabiiy hududlarda bevosita taqdim etiladigan turizm xizmatlariga doir talablarni belgilaydi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">ISO 18065:2015 “Tourism and related services — Tourist services for public use provided by Natural Protected Areas Authorities — Requirements” xalqaro standartiga aynan o‘xshash.</p></li>
                </ul> 
            </div>
            <div>
                <h4 data-aos="fade-up" data-aos-duration="800">Koʻrsatib oʻtilgan standartlarning talablari quyidagilarga yoʻnaltirilgan:</h4>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">turizm xizmatlarini loyihalashtirish;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">turistlar va ekskursantlarni hayoti hamda sogʻligʻining xavfsizligini ta’minlash;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">atrof muhitni muhofaza qilish;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">yashash sharoitlari va xizmat koʻrsatish xavfsizligi hamda sifatini ta’minlash;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">tеxnik jihozlanish;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">koʻrsatilayotgan xizmatlar sifatining darajasi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">turizm faoliyati xodimlarini tayyorlash;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">bеlgilangan talablar bajarilishini nazorat qilish va b.</p></li>
                </ul>
            </div>
            <div>
                <h4 data-aos="fade-up" data-aos-duration="800">Mustaqillik va xolislik statuslari quyidagilar bilan ta’minlanadi:</h4>
                <ul>
                    <li><p data-aos="fade-up" data-aos-duration="800">Markaz turizm sohasida faoliyat yurituvchi sub’еktlardan ma’muriy, iqtisodiy va yuridik jihatdan mustaqil hisoblanadi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">Markaz sеrtifikatlashtirish uchun boshqa vazirlik, muassasa va idoralarning yuqori malakali mutaxassislarini jalb qiladi;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">sеrtifikatlashtirish natijasi ishga toʻlanadigan toʻlovga bogʻliq emas;</p></li>
                    <li><p data-aos="fade-up" data-aos-duration="800">sеrtifikatlashtirish oʻtkazadigan mutaxassislarga nisbatan bosim oʻtkazishga yoʻl qoʻyilmaydi, sеrtifikatlashtirish natijalari boʻyicha qarorni sеrtifikatlashtirishda ishtirok etmagan boshqa shaxs qabul qiladi.</p></li>
                </ul>
            </div>
            <p data-aos="fade-up" data-aos-duration="800">Markaz qoshida xolislikka tahdidlarga yoʻl qoʻymaslik boʻyicha chora-tadbirlarni amalga oshiradigan maxsus Kеngash tuzilgan.</p>
            <p data-aos="fade-up" data-aos-duration="800">Markaz rahbariyati sifat mеnеjmеntini doimiy takomillashtirish va arizachilarning qoniqish darajasini oshirish maqsadida turizm xizmatlarini sеrtifikatlashtirish natijalari va oʻz faoliyatini muntazam ravishda tahlil qilib boradi.</p>
            <p data-aos="fade-up" data-aos-duration="800">Markaz koʻrsatilayotgan turizm xizmatlarining sifatini oshirish va turistlar ehtiyojlarini maksimal ravishda qoniqtirish uchun barcha manfaatdor tomonlarni hamkorlikka taklif etadi.</p>
            <div class="text-center">
                <h5 class="pt-1">“Turizm xizmatlarini sеrtifikatlashtirish markazi” DUK Dirеktori:</h5>
                <p data-aos="fade-up" data-aos-duration="800" class="pb-1">Islomov Nuriddin Nurkuvatovich</p>
                <p data-aos="fade-up" data-aos-duration="800" class="pb-1">Markazning bogʻlanish uchun ma’lumotlari:</p>
                <p data-aos="fade-up" data-aos-duration="800" class="pb-1">Manzil: Toshkеnt sh., Mirobod tum., Oybеk k., 18-uy (moʻljal: Oybеk mеtro bеkati)</p>
                <p data-aos="fade-up" data-aos-duration="800" class="pb-1">Tеlefonlar: +(998 95) 199-15-01, +(998 95) 199-15-02, +(998 95) 199-15-03, +(998 95) 199-15-04</p>
                <p data-aos="fade-up" data-aos-duration="800" class="pb-1">E-mail: <a href="#">sertifikaciya.turizm@mail.ru</a></p>
                <p data-aos="fade-up" data-aos-duration="800" class="text-start">29-iyun, 2020</p>
            </div>
            

        </div>
    </section>

    <footer>
      <div class="foot-top">
        <div class="foot-container">
          <div class="row foot-row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-12 box_1 pb-3" data-aos="fade-right" data-aos-duration="800">
              <h5 class="lng-contact1">CONTACT US</h5>
               <ul>
                <li>
                  <i class="uil uil-phone-alt"></i>
                  <a href="#">+998 99 753 17 57</a>
                </li>
                <li>
                  <i class="uil uil-envelope-alt"></i>
                  <a href="#">jasurbektoshev@gmail.com</a>
                </li>
                <li>
                  <i class="uil uil-location-arrow"></i>
                  <a href="#" class="lng-address1">Navoiy viloyati karmana tumani ddddd 84</a>   
                </li>
               </ul>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-12 box_2 pb-3" data-aos="fade-up" data-aos-duration="800">
              <h5 class="lng-news">POPULAR NEWS</h5>
              <ul>
                <li>
                  <a href="#" class="lng-news1">Your Personal Guide to 5 Best Places to Visit on Earth</a>
                  <span class="lng-date">September 25, 2022</span>
                </li>
                <li>
                  <a href="#" class="lng-news2">Top 10 Hotels: Rating by Wonder Tour Travel Experts</a>
                  <span class="lng-date1">September 25, 2022</span>
                </li>
              </ul>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-12 box_3 pb-3" data-aos="fade-right" data-aos-duration="800">
              <h5 class="lng-quik">QUICK LINKS</h5>
              <div class="box_3-div">
                <ul>
                  <li>
                    <span></span>
                    <a href="#" class="lng-foot_about">About us</a>
                  </li>
                  <li>
                    <span></span>
                    <a href="#" class="lng-foot_tours">Our Tours</a>
                  </li>
                  <li>
                    <span></span>
                    <a href="#"  class="lng-foot_team">Our Team</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span></span>
                    <a href="#" class="lng-foot_services">Our Services</a>
                  </li>
                  <li>
                    <span></span>
                    <a href="#" class="lng-foot_hotel">Our Hotels</a>
                  </li>
                </ul>
              </div class="sendLinkBox">
              <div><a href="#" class="sendingFoot lng-touch1">Get in touch</a></div>
            </div>
          </div>
        </div>
      </div>
       <div class="foot-bottom">
           <p>© 2022 Wonder Tour. All Rights Reserved. Design by <br> Jasurbek Toshev</p>
           <ul>
             <li>
               <a href="#"><i class="uil uil-facebook-f"></i></a>
             </li>
             <li>
              <a href="#"><i class="uil uil-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="uil uil-google"></i></a>
            </li>
            <li>
              <a href="#"><i class="uil uil-instagram"></i></a>
            </li>
           </ul>
           <a href="#">Privacy Policy</a>
      </div> 
    </footer>

     <!-- Javascript-->
     
     <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

     <script src="{% static 'js/script.js' %}"></script>

     <!-- <script src="./../js/getInformation.js"></script> -->
     <script src="{% static 'js/backend/tourismLawInformation.js' %}"></script>
     <script src="{% static 'js/lang.js' %}"></script>
     <script src="{% static 'js/language_function.js' %}"></script>
    
</body>
</html>